<h1>Mensajes</h1>
<form>
<input type="text" name="user" id="" placeholder="email" required>
<input type="text" name="message" id="" placeholder="mensaje" required>
<button type="submit">Enviar</button>
</form>

<script src="/static/js/message.js"></script>